html {
  max-width: 1050px;
  margin-left: auto;
  margin-right: auto;
  
  background-color: #101010;
  color: #bbbbbb;
  
}

a:hover {
  color: cyan;
}


.a {
  font-family: "Fira Code", monospace;
  font-weight: 500;
  font-size: 1.5em;
  animation: fadein 1s;
  -webkit-animation: fadein 1s;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #101010;
  color: #bbbbbb;
}

body.b {
  font-family: "Fira Code", monospace;
  font-weight: 500;
  font-size: 1.5em;
  animation: fadein 1s;
  -webkit-animation: fadein 1s;
  background-color: #101010;
  color: #bbbbbb;

  padding: 5%;
  padding-left: 10%;
}

h1 {
  font-size: 1em;
}
h2 {
  font-size: 0.8em;
}
h3 {
  font-size: 0.6em;
}
h4 {
  font-size: 0.4em;
}
h5 {
  font-size: 0.2em;
}
p {
  font-size: 0.7em;
}
hr {
  border: solid 1px;
}
pre code {
  background-color: #202020;
  border: 1px outset rgb(255, 136, 0);
  color: #bbbbbb;
  display: block;
  white-space: pre;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  max-width: 100%;
  padding: 20px;
}
code {
  background-color: #202020;
  border: 1px inset rgb(255, 136, 0);
  white-space: pre;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  max-width: 100%;
  color: #bbbbbb;
}
footer {
  font-size: 0.5em;
}
blink {
  animation: blinker 1s ease infinite;
}

orange {
  color: rgb(255, 136, 0);
}

a {
  color: rgb(255, 136, 0);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

#links {
  font-size: 0.9em;
}

.btext {
  font-size: 0.75em;
}

/*******************************************/

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@700&display=swap");

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
